

#increment, #reset{
	background-color: #ffffff;
	color: black;
    border:none;
    border-radius:15px;
    padding:15px;
    margin: 10px;
}
#reset:active{
    background-color: red;
}

#increment:active{
    background-color: blue;
}

.littleApp{
	padding: 10%;
}